<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fan</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="/light">Light</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/fan">Fan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/airConditioner">Air Conditioner</a>
        </li>
    </ul>

    <h1 th:text="'Fan speed: ' + (${fan.speed} == 0 ? 'Off' : ${fan.speed})"></h1>

    <form th:action="@{/fan}" method="post">
        <div class="m-5">
            <select name="speed" onchange="this.form.submit()">
                <option th:selected="${fan.speed == 0}" value="0">0</option>
                <option th:selected="${fan.speed == 1}" value="1">1</option>
                <option th:selected="${fan.speed == 2}" value="2">2</option>
            </select>
        </div>
    </form>
</body>
</html>

